body {
   background-color: rgb(241, 200, 112);
}

.titulo {
    display: flex;
    justify-content: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
}
.intentos { 
    display: flex;
    justify-content: center;
}
p{
    color: black;
}
.miCanva{
    display: block;
    border: 1px solid #000000;
    margin: 5% auto;
 }

 .abecedario{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;



 }

 .abecedario button{
    background-color: #b43232;
    color: #ffffff;
 }